<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suporte IA | <%= title %></title>
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_right_altanddeleteandarrow_downwardanduploadandclose"
    />
  </head>
  <body>
    <div id="user-profile">
      <span style="display: none" id="user_id">MBS1729</span>
      <span style="display: none" id="user_name">mauricio.santos</span>
      <span class="material-symbols-outlined">delete</span>
    </div>

    <div id="message-delete">
      <div id="log-delete">Chat deletado</div>
    </div>

    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="/imgs/logo.png" alt="logo ia" />
          <h2>
            Osvaldo <br />
            Suporte IA
          </h2>
          <!-- <p>Desenvolvido por Mauricio Brito dos Santos</p> -->
        </div>
        <ul class="chats">
          <li>
            <a class="chat-group">
              <img src="/imgs/CH.png" alt="chamados logo" />
              <div class="text">
                <h3>Chamados</h3>
                <p>Tudo sobre os chamados</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/GR.png" alt="geral logo" />
              <div class="text">
                <h3>Geral</h3>
                <p>Não sabe qual o processo?</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/ER.png" alt="erros logo" />
              <div class="text">
                <h3>Erros</h3>
                <p>Log de erros e mais</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/SG.png" alt="Segregados logo" />
              <div class="text">
                <h3>Segregados</h3>
                <p>Segregados e Avaria</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/RB.png" alt="Recebimento logo" />
              <div class="text">
                <h3>Recebimento</h3>
                <p>Fornecedor e transferências</p>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- chats -->
    <section class="content">
      <!-- loading chat -->
      <div id="loading-chat">
        <div class="analyze">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            height="54"
            width="54"
          >
            <rect height="24" width="24"></rect>
            <path
              stroke-linecap="round"
              stroke-width="1.5"
              stroke="var(--color2)"
              d="M19.25 9.25V5.25C19.25 4.42157 18.5784 3.75 17.75 3.75H6.25C5.42157 3.75 4.75 4.42157 4.75 5.25V18.75C4.75 19.5784 5.42157 20.25 6.25 20.25H12.25"
              class="board"
            ></path>
            <path
              d="M9.18748 11.5066C9.12305 11.3324 8.87677 11.3324 8.81234 11.5066L8.49165 12.3732C8.47139 12.428 8.42823 12.4711 8.37348 12.4914L7.50681 12.8121C7.33269 12.8765 7.33269 13.1228 7.50681 13.1872L8.37348 13.5079C8.42823 13.5282 8.47139 13.5714 8.49165 13.6261L8.81234 14.4928C8.87677 14.6669 9.12305 14.6669 9.18748 14.4928L9.50818 13.6261C9.52844 13.5714 9.5716 13.5282 9.62634 13.5079L10.493 13.1872C10.6671 13.1228 10.6671 12.8765 10.493 12.8121L9.62634 12.4914C9.5716 12.4711 9.52844 12.428 9.50818 12.3732L9.18748 11.5066Z"
              class="star-2"
            ></path>
            <path
              d="M11.7345 6.63394C11.654 6.41629 11.3461 6.41629 11.2656 6.63394L10.8647 7.71728C10.8394 7.78571 10.7855 7.83966 10.717 7.86498L9.6337 8.26585C9.41605 8.34639 9.41605 8.65424 9.6337 8.73478L10.717 9.13565C10.7855 9.16097 10.8394 9.21493 10.8647 9.28335L11.2656 10.3667C11.3461 10.5843 11.654 10.5843 11.7345 10.3667L12.1354 9.28335C12.1607 9.21493 12.2147 9.16097 12.2831 9.13565L13.3664 8.73478C13.5841 8.65424 13.5841 8.34639 13.3664 8.26585L12.2831 7.86498C12.2147 7.83966 12.1607 7.78571 12.1354 7.71728L11.7345 6.63394Z"
              class="star-1"
            ></path>
            <path
              class="stick"
              stroke-linejoin="round"
              stroke-width="1.5"
              stroke="var(--color2)"
              d="M17 14L21.2929 18.2929C21.6834 18.6834 21.6834 19.3166 21.2929 19.7071L20.7071 20.2929C20.3166 20.6834 19.6834 20.6834 19.2929 20.2929L15 16M17 14L15.7071 12.7071C15.3166 12.3166 14.6834 12.3166 14.2929 12.7071L13.7071 13.2929C13.3166 13.6834 13.3166 14.3166 13.7071 14.7071L15 16M17 14L15 16"
            ></path>
          </svg>
        </div>
      </div>

      <!-- titulo dinamico -->
      <div class="title"><%- content %></div>

      <!-- fim titulo dinamico -->
      <div class="content-chat">
        <div id="history">
          <!-- adicionando o hystory chat -->
          <% if (chats && chats.length > 0) { %> <% chats.forEach(e => { %>
          <div id="perg" class="msgm-group">
            <p><%- e.user_chat %></p>
          </div>
          <div id="resp" class="msgm-group">
            <img src="/imgs/logo.png" alt="logo ia" />
            <div id="text-ai"><%- e.osvaldo_chat %></div>
          </div>
          <% }) %> <% } else { %>
          <!-- <p>Nenhuma conversa disponível.</p> -->
          <% } %>

          <!-- <div id="perg" class="msgm-group">
            <p>Olá, tudo bem ?</p>
          </div>
          <div id="resp" class="msgm-group">
            <img src="/imgs/logo.png" alt="logo ia" />
            <p>Olá! Tudo ótimo, e você? 😊 Como posso te ajudar hoje?</p>
          </div> -->
          <!-- loading -->
          <!-- <div id="loading">
            <img src="/imgs/logo.png" alt="logo ia" />
            <section class="dots-container">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </section>
          </div> -->
          <!-- fim hystory -->
        </div>

        <div id="scroll-history">
          <span class="material-symbols-outlined">arrow_downward</span>
        </div>

        <form id="msg-user" enctype="multipart/form-data">
          <input type="hidden" id="userId" name="userId" value="MBS1729" />
          <input
            type="hidden"
            id="subject"
            name="subject"
            value="<%= title %>"
          />
          <div class="inputs">
            <div id="preview-image" style="display: none">
              <span class="material-symbols-outlined" id="close">close</span>
              <img src="null" alt="preview-off" />
            </div>
            <input
              type="text"
              id="user_input"
              name="user_input"
              maxlength="150"
              placeholder="Envie uma menssagem para Osvaldo..."
              required
            />
            <div id="upload-image">
              <label for="image"
                ><span class="material-symbols-outlined">upload</span>carregar
                imagem</label
              >
            </div>

            <input
              type="file"
              name="image"
              id="image"
              accept="image/*"
              style="display: none"
            />
          </div>
          <button type="submit" id="to-send">
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </button>
        </form>
        <p class="warning">
          O Suporte IA pode cometer erros. considere verificar informações
          importantes.
        </p>
      </div>
    </section>

    <script src="/js/index.js"></script>
  </body>
</html>
